# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# wasm
web_api.js
*.wasm
build/
*.wat
.vscode/
ui/wasm

# simulator
*.yo
*_gen.c
*_gen.cpp
yas
.vscode/
*.o
hcl_lex.c
hcl.tab.*
hcl2c
hcl2v
mux4.c
mux4
seq_std.c
