body {
   margin: 0em;
   padding: 0em;
}

.el-header {
   margin: 0em;
   padding: 0em;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   flex-wrap: wrap;
}

.el-footer {
   background-color: #ffa724;
   display: flex;
   align-items: center;
   justify-content: flex-end;
}

.el-menu {
   background-color: #ffa724;
   flex: 1;
}

.el-main {
   text-align: center;
   min-height: 80vh;
   font-family: monospace;
}

.el-button {
   display: flex;
   justify-content: flex-start;
}

#bin-code .el-textarea {
   --el-input-bg-color: rgb(239, 235, 235);
}

.el-table {
   height: 40vh;
}

.el-table .el-table__cell {
   padding: 0px;
}

.el-table .active{
   --el-table-tr-bg-color: #ffa724;
}

.el-table .inactive{
   --el-table-tr-bg-color: rgb(239, 235, 235);
}

