body {
   margin: 0em;
   padding: 0em;
}

.el-header {
   background-color: #ffa724;
   margin: 0em;
   padding: 0em;
   display: flex;
   align-items: flex-end;
   justify-content: flex-start;
   flex-wrap: wrap;
   min-height: 10vh;
}

.el-footer {
   background-color: #ffa724;
   display: flex;
   align-items: center;
   justify-content: flex-end;
   min-height: 10vh;
}

.el-menu {
   background-color: #ffa724;
   flex: auto;
}

.el-main {
   text-align: center;
   min-height: 80vh;
   font-family: monospace;
}

.el-button {
   display: flex;
   justify-content: flex-start;
}

.el-textarea {
   min-width: auto;
}

#bin-code .el-textarea {
   --el-input-bg-color: rgb(239, 235, 235);
}

.el-table {
   height: 40vh;
   min-width: auto;
}

.el-table .el-table__cell {
   padding: 0px;
}

.el-table .active {
   --el-table-tr-bg-color: #ffa724;
}

.el-table .inactive {
   --el-table-tr-bg-color: rgb(239, 235, 235);
}

.el-row {
   flex-wrap: nowrap;
}

#run .el-row {
   display: flex;
   justify-content: flex-start;
}

.demonstration {
   color: var(--el-text-color-secondary);
   padding: 10px;
}

.el-slider {
   margin-top: 0;
   margin-left: 12px;
   flex: 0 0 50%;
}

#help-menu {
   flex-grow: 1;
}
